<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Counsyl MockUp</title>
	<link rel="stylesheet" href="styles/main.css" >
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="vendor/angular.min.js"></script>
	<script type="text/javascript" src="vendor/jquery.min.js"></script>
	<script type="text/javascript" src="vendor/lodash.js"></script>
	<script type="text/javascript" src="scripts/main-built.js"></script>
</head>
<body ng-app="myApp">
	<div id="pageContainer" ng-controller="mainController">
		<div id="leftPanel" class="panel">
			<div id="movieSearchContainer" class="panel-item">
				<input ng-enter="filterMovies()" type="text" class="search-inputs" ng-model="movieSearch" placeholder="Search movies..." />
				<button type="submit" class="search-inputs" ng-click="filterMovies()"><i class="fa fa-search"></i></button>
			</div>
			<div id="mainMenu" class="panel-item">
				<div id="innerMovieMenuDiv">
					<div class="movie-menu-header">
						Main
					</div>
					<ul class="menu-list">
						<li><i class="fa fa-play-circle"></i>&nbsp;&nbsp;Playing</li>
						<li ng-class="{'selected-menu' : selectedMenuItem==='Discover'}" ng-click="refreshMovies()"><i class="fa fa-bullseye"></i>&nbsp;&nbsp;Discover</li>
						<li ng-class="{'selected-menu' : selectedMenuItem==='Activity'}"><i class="fa fa-user"></i>&nbsp;&nbsp;Activity</li>
						<li ng-class="{'selected-menu' : selectedMenuItem==='Top Charts'}" ng-click="showByPopularity(true)"><i class="fa fa-bar-chart"></i>&nbsp;&nbsp;Top Charts</li>
						<li ng-class="{'selected-menu' : selectedMenuItem==='New Releases'}" ng-click="showByReleaseDate(true)"><i class="fa fa-calendar-check-o"></i>&nbsp;&nbsp;New Releases</li>
					</ul>
					<div class="movie-menu-header">
						Your Movie Circles
					</div>
					<ul class="menu-list">
						<li><i class="fa fa-circle-thin"></i>&nbsp;&nbsp;This I Must See</li>
						<li><i class="fa fa-circle-thin"></i>&nbsp;&nbsp;The Best</li>
					</ul>
					<div class="movie-menu-header">
						Collections
					</div>
					<ul class="menu-list">
						<li><i class="fa fa-umbrella"></i>&nbsp;&nbsp;Me and Bob</li>
						<li><i class="fa fa-star"></i>&nbsp;&nbsp;Travel Movies</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="mainPanel" class="panel">
			<div id="mainHeader">
				<div id="mainTitleHeader">{{selectedMenuItem}}</div>
				<div id="selectorHeader">
					<div id="releaseDate" ng-click="showByReleaseDate()" ng-class="(showByRelease === true) ? 'aqua' : 'detail-font'"> Release Date</div>
					<div ng-click="showByPopularity()" ng-class="(showByRelease === false) ? 'aqua' : 'detail-font'"> Popularity</div>
				</div>
				<div id="refreshHeader"><i ng-click="refreshMovies()" class="fa fa-repeat fa-2x"></i>&nbsp;&nbsp;<i class="fa fa-upload fa-2x"></i></div>
			</div>
			<div id="mainMovieContainer">
				<div id="movie_{{movie.imdbID}}" class="full-movie-div" ng-repeat="movie in allMoviesDisplay" ng-mouseover="showMovieDetails(movie.Title)" ng-mouseleave="hideMovieDetails()">
					<img class="movie-img" ng-src={{movie.Poster}} alt="{{movie.Title}}" >
					<i class="fa fa-play-circle fa-3x play-circle" ng-show="isMovieShowing(movie.Title)"></i>
					<div class='movie-long-detail' ng-class="(detailOnLeft) ? 'detail-left' : 'detail-right'" ng-show="isMovieShowing(movie.Title)">
						<div>
							<div class='movie-detail-block'>
								<div>
									<span>{{movie.Title}}</span>
									<span class="float-right detail-font">{{movie.Runtime}}</span>
								</div>
								<div class="detail-font">{{movie.Genre}}</div>
							</div>
							<div class="movie-detail-block">{{movie.Plot}}</div>
							<div>Director: <span class="dir-actor-color">{{movie.Director}}</span></div>
							<div>Stars: <span class="dir-actor-color">{{movie.Actors}}</span></div>
						</div>
						<div class='movie-detail-rating'>
							Rating: {{movie.imdbRating}}
						</div>
						<div>
							<span>Recommended by:</span>
							<span class="float-right">A,B,C,D</span>
						</div>
					</div>
					<div class="movie-short-detail">
						<div class="movie-title">{{movie.Title}}</div>
						<div>{{movie.Genre}}</div>
						<div>{{movie.Runtime}}</div>
					</div>
				</div>
			</div>
		</div>
		<div id="rightPanel" class="panel">
			<div id="usernameContainer" class="panel-item">
				<span><i class="fa fa-user"></i>&nbsp;&nbsp;Alex Nuccio</span>
				<span class="float-right"><i class="fa fa-circle-o"></i></span>
			</div>
			<div id="buddyList">
				<div class="movie-menu-header">
					Online
				</div>
				<ul class="menu-list">
					<li ng-click="openChatWithUser(user.name)" ng-repeat="user in getOnlineUsers()">
						<div><img class='user-pic' src="images/user-pic.png" alt="user-pic"></div>
						<div>
							<div>{{user.name}}</div>
							<div>{{user.subject}}</div>
						</div>
					</li>
				</ul>
				<div class="movie-menu-header">
					Offline
				</div>
				<ul class="menu-list">
					<li ng-click="openChatWithUser(user.name)" ng-repeat="user in getOfflineUsers()">
						<div><img class='user-pic' src="images/user-pic.png" alt="user-pic"></div>
						<div>
							<div>{{user.name}}</div>
							<div>{{user.subject}}</div>
						</div>
					</li>
				</ul>
			</div>
			<div id="chatWindow" ng-show="selectedUser">
				<div id="chatContainer">
					<div id="chatHeader">
						<span>{{selectedUser}}</span>
						<span ng-click="selectedUser = null" class='float-right'><i class="fa fa-times fa-lg"></i></span>
					</div>
					<div id="chatBody">
						<div ng-repeat="msg in allChats[selectedUser] track by $index">
							{{msg}}
						</div>
					</div>
					<div id="chatFooter">
						<input ng-enter="addMessageToConvo()" ng-model="currentMessage" type="text" placeholder="Enter message here...">
					</div>
				</div>
			</div>
			<div id="chatWithContainer" class="panel-item">
				<input ng-enter="filterUsers()" type="text" id="inputChatWith" ng-model="chatWith" placeholder="Chat with..." />
				<button type="submit" class="search-inputs" ng-click="filterUsers()"><i class="fa fa-search"></i></button>
			</div>
		</div>
	</div>
</body>
</html>